<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array>
		<dict>
			<key>name</key>
			<string>北京</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>天津</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>河北省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>内蒙古自治区</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>辽宁省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>吉林省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>黑龙江省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>上海</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>江苏省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>浙江省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>安徽省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>福建省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>江西省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>山东省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>河南省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>湖北省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>湖南省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>广东省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>广西壮族自治区</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>海南省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>重庆</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>四川省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>贵州省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>云南省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>西藏自治区</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>陕西省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>甘肃省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>青海省</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>宁夏回族自治区</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>新疆维吾尔自治区</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>香港特别行政区</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>澳门特别行政区</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>台湾</string>
			<key>sub</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
